.navbar{height:50px;}
body{
	background-color: #a0a0a0;
	border-radius: 4px;
	padding-top: 50px;
	padding-bottom: 90px;
}
img#shellLogo{ margin-top: 30px; }
div#loginNav{ width: auto; }
li#loggedUser{ color: #FFFFFF; }
section.webForm{ 
	margin-right: auto; 
	margin-left: auto;
	margin-bottom: 6%;
	text-align: center; 
	width: 30%; 
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 1px 1px 10px;
	-moz-box-shadow: 1px 1px 10px;
	-o-box-shadow: 1px 1px 10px;
	-ms-box-shadow: 1px 1px 10px;
	box-shadow: 1px 1px 10px;
}
h2.panel-heading{
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-o-border-radius: 20px 20px 0px 0px;
	-ms-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
}
div#userData{ padding: 0% 13%; }
div#userData > input{ margin-top: 5%; }
button.register{ font-size: 1.4em; margin: 5% 0%; padding: 0.5% 3%; background-color: #313131; }
button#loginBtn, button#confirmBtn{ font-size: 1.2em; margin: 5% 0%; padding: 3% 10%; background-color: #313131; }
div#adminPanel{ padding: 3%; }
div#map{ height: 300px; width: 40%; border: 1px solid black; margin: 25px auto; }
div.nodes, div#userInfo{ text-align: center; width: auto; background-color: #061424; color: white; }
div#userInfo{ font-size: 2em; }
input.rad{ margin: 10px 0 10px 4%; }
span.radText{ font-size: 1.15em; margin-left:0.5%; }
div#user{padding: 1% 15%;}
div.loginForm{
	display: none;
	margin-left: 40%;
	margin-top: 10%;
	text-align: center; 
	width: 20%; 
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	-ms-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: 1px 1px 25px;
	-moz-box-shadow: 1px 1px 25px;
	-o-box-shadow: 1px 1px 25px;
	-ms-box-shadow: 1px 1px 25px;
	box-shadow: 1px 1px 25px;
	position: fixed;
	background-color: #a0a0a0;
}
div.loginForm > div{
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	-ms-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
form#loginForm{ padding: 0 10%; }
form#loginForm > input { margin: 7% auto 0 auto; width: 95%; }
div.userForm{
	width: 25%; 
	margin-top: 1%;
	margin-left: 6%;
	margin-bottom: 5%;
	text-align: center;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	-ms-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: 1px 1px 25px;
	-moz-box-shadow: 1px 1px 25px;
	-o-box-shadow: 1px 1px 25px;
	-ms-box-shadow: 1px 1px 25px;
	box-shadow: 1px 1px 25px;
	float: left;
}
form#editUserInfo > button{font-size: 1.4em; margin: 0 0 5% 0; padding: 0.5% 3%; background-color: #313131;}
div#user > input{margin-bottom: 20px; margin-left: auto; margin-right: auto;}
div.userFormTitle{
	-webkit-border-radius: 11px 11px 0 0;
	-moz-border-radius: 11px 11px 0 0;
	-o-border-radius: 11px 11px 0 0;
	-ms-border-radius: 11px 11px 0 0;
	border-radius: 11px 11px 0 0;
	text-align: center; width: auto;
	background-color: #061424; 
	color: white;
	font-size: 2em;
	margin-bottom: 7px;
}
table#tableNodesInfo{margin: 0 auto 5% auto;}
td{border: 1px solid black; padding: 5px;}
a.linkNodes{color: #568; font-size: 1.2em;}
a.linkNodes:hover{color: white; text-decoration: underline;}
a#dismissNotif{color: white; font-size: 1.12em;}
div#nodesTable{margin-top: 4%;}
div.nodesForms{height:200px; border: 1px solid black; margin: 5%; width: 90%;}
div#addForm{
	border: 1px solid black;
	margin: 2% 5% 2% 5%;
	width: 90%;display:none;
}
div#notifier{font-size: 1.15em; margin: 1% 3%; padding:0.5%;}
td.tableHeading{
	font-size: 1.1em;
	color:white;
	background-color: black;
	padding: 5px 10px;
	border: 1px solid white;
}
div#stadistics{width: 50%; margin: 3% auto; height:250px;}
div#notification{
	margin-left: 40%;
	margin-top: 10%;
	text-align: center; 
	width: 20%;
	font-size: 1.2em;
	color: white;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	-ms-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: 1px 1px 25px;
	-moz-box-shadow: 1px 1px 25px;
	-o-box-shadow: 1px 1px 25px;
	-ms-box-shadow: 1px 1px 25px;
	box-shadow: 1px 1px 25px;
	position: fixed;
	-webkit-opacity: .85;
	-moz-opacity: .85;
	-o-opacity: .85;
	-ms-opacity: .85;
	opacity: .85;
}
div#forgot{width: 25%; padding-bottom: 1%; margin-right:auto; margin-left:38.7%;}
div#forgot > div{margin-bottom: 4%;}
div#forgot > form > input {margin-bottom: 5%; width:85%; margin-left: auto; margin-right: auto;}
a#forgot{color:#372496;text-decoration: underline;}
form#addDevice{padding: 5% 13%;}
form#addDevice > input.form-control{margin-bottom: 8%;}
form#addDevice > button{margin-top: -1%;}
td{border:1px solid white; text-align: center;}
@media screen and (min-width: 480px)  {
	div.adminTable{
		padding: 2%;
		margin-left: 0;
		margin-right: 0;
	}
}
@media screen and (min-width: 801px)  {
	div.adminTable{
		padding: 2%;
		margin-left: 18%;
		margin-right: 15%;
	}	
}