body{
	background-color: #a0a0a0;
	border-radius: 4px;
	padding-top: 50px;
	padding-bottom: 90px;
}
img#shellLogo{ margin-top: 30px; }
footer{margin-top: 3.5%;}
div#loginNav{ width: auto; }
li#loggedUser{ color: #FFFFFF; }
section.webForm{ 
	margin-right: auto; 
	margin-left: auto;
	text-align: center; 
	width: 30%; 
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 1px 1px 10px;
	-moz-box-shadow: 1px 1px 10px;
	-o-box-shadow: 1px 1px 10px;
	-ms-box-shadow: 1px 1px 10px;
	box-shadow: 1px 1px 10px;
}
h2.panel-heading{
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-o-border-radius: 20px 20px 0px 0px;
	-ms-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
}
div#userData{ padding: 0% 13%; }
div#userData > input{ margin-top: 5%; }
button#register{ font-size: 1.4em; margin: 5% 0%; padding: 0.5% 3%; background-color: #313131; }
div#adminPanel{ padding: 3%; }
div#map{ height: 300px; width: 40%; border: 1px solid black; margin: 25px auto; }
div#nodes{ text-align: center; width: auto; background-color: #061424;	color: white; }
input.rad{ margin: 10px 0 10px 4%; }
span.radText{ font-size: 1.15em; margin-left:0.5%; }